// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/purple';

// Override variables here

@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

.mdi {
    font-family: "Material Design Icons",
      "materialdesignicons";
}

.bg-purple{
    background-color: #5e35b1;
}

.text-purple {
    color:#5e35b1;
}

.bg-white {
    background-color:#ffffff;
}

.text-white {
    color:#ffffff;
}